iot-gateway/flows.json
[{"id":"2c41a2bd.aa36ae","type":"tab","label":"Flow 1","disabled":false},{"id":"a59905fa2a954e1f","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/skeleton:0/thermometer/0:1/temperature","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":220,"wires":[["7e075285324d7f41"]]},{"id":"7e075285324d7f41","type":"function","z":"2c41a2bd.aa36ae","name":"function 1","func":"msg.payload = {\n    'value': + msg.payload,\n    'deviceId': \"Kitchen\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":220,"wires":[["a46869bf5dbe5489"]]},{"id":"4e0342c74ee17a87","type":"debug","z":"2c41a2bd.aa36ae","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":220,"wires":[]},{"id":"a46869bf5dbe5489","type":"http request","z":"2c41a2bd.aa36ae","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:3000/temperatures","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Content-Type","keyValue":"","valueType":"application/json","valueValue":""}],"x":630,"y":220,"wires":[["4e0342c74ee17a87"]]},{"id":"746906de92889fd7","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/skeleton:0/push-button/-/event-count","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":300,"wires":[["e3b568c28c184dc8"]]},{"id":"b1b1a5905e8efe9d","type":"debug","z":"2c41a2bd.aa36ae","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":300,"wires":[]},{"id":"e3b568c28c184dc8","type":"http request","z":"2c41a2bd.aa36ae","name":"","method":"DELETE","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:3000/temperatures","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":550,"y":300,"wires":[["b1b1a5905e8efe9d"]]},{"id":"29fba84a.b2af58","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]